<%= javascript_pack_tag 'flexible' %>

<% unless AllinsonFlex::Profile.any? %>
  <% provide :page_header do %>
    <h1><span class="fa fa-edit" aria-hidden="true"></span> Add New Allinson Flex Profile </h1>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#description" role="tab" data-toggle="tab"><%= t('.tabs.description') %></a>
          </li>
        </ul>
        <%= simple_form_for @allinson_flex_profile, url: allinson_flex.profiles_path, method: :post do |form| %>
          <%= render 'form', allinson_flex_profile: @allinson_flex_profile, form: form %>
          <div class="panel-footer">
            <div class='pull-right'>
            <!--
              <%# <%= form.button :submit, 'Save', class: 'btn btn-primary' %> %>
              <%# <% cancel_path = form.object.persisted? ? hyrax.myallinson_flex_profile_path(form.object) : allinson_flex.profiles_path %> %>
                <%# | <%= link_to t('.cancel'), cancel_path, class: 'btn btn-default ' %> %>
            -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
